/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}



$navy:#182848;
$ja-font: "Noto Sans JP", sans-serif;
$en-font: "Lato", sans-serif;

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #333;
    cursor: pointer;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

/*for script*/

/* smart phone */
@media screen and (min-width: 1px) {
    .pc-only {
        display: none;
    }
    img {
        max-width: 100%;
    }
    .width-restriction-inside {
        margin-left: 20px;
        margin-right: 20px;
        width: calc(100% - 40px);
    }
    .menu-ja {
        font-family: $ja-font;
        font-size: unquote("min(3vh, 20px)");
        line-height: 1;
        letter-spacing: normal;
        color: #ffffff;
        text-align: center;
        margin-top: 1em;
        margin-top: 5px;
    }
    .menu-en {
        font-family: $en-font;
        font-size: unquote("min(2vh, 14px)");
        line-height: 1;
        letter-spacing: normal;
        color: #ffffff;
        text-align: center;
        margin-bottom: 1.4em;
    }

    .skewed-line {
        width: 15px;
        height: 17px;
        margin: 0 0 5px 20px;
        border-left: solid 1px white;
        transform: skew(-41.50deg);
    }

    a {
        display: block;
        .link-button {
            font-family: $ja-font;
            margin: 0 auto 0;
            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1;
            letter-spacing: normal;
            text-align: left;
            color: #fff;
        }
    }
} 